@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
    Isi global styles :
    1. variables
    2. global attributes
    3. buttons (primary, secondary, tertiary)
    4. header
    5. footer
    6. mobile defaults
*/

/* variables */
:root{
    /* font & text */
    --font-family : "Montserrat", sans-serif;
    --default-font-size : .9rem;
    --hero-font-size : 4rem;
    --header-1-font-size : 3rem;
    --header-2-font-size : 2rem;
    --header-3-font-size : 1.5rem;
    --footer-font-size : .8rem;
    --line-spacing : 1.6;

    /* mobile font-size */
    --mobile-hero-font-size : 2.3rem;
    --mobile-default-font-size : .8rem;
    --mobile-header-1 : 2rem;
    --mobile-header-2 : 1.3rem;

    /* color */
    --clr-primary : #2473B5;
    --clr-secondary : #39A7AE;
    --clr-neutral : #F2F7FB;

    /* buttons */
    --clr-btn-primary : var(--clr-secondary);
    --btn-box-shadow : 2px 2px 3px rgba(57, 167, 174, .5);

    /* events */
    --clr-events : #0e2e48;
    --events-box-shadow : 6px 5px 6px rgb(0, 0, 0, 25%);

    /* community */
    --clr-community : linear-gradient(to bottom, #19517f,#071724);
}

/* global attributes */
*,
::before,
::after {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
    list-style-type: none;
    text-decoration : none;
}

body {
    font-family : var(--font-family);
}
h1{
    font-size : var(--header-1-font-size);
    line-height : 1.3;
}
h2{
    font-size : var(--header-2-font-size);
}
h3{
    font-size : var(--header-3-font-size);
}
div, p{
    font-size : var(--default-font-size);
    line-height : var(--line-spacing);
}


/* buttons */
button:hover{
    cursor: pointer;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family : var(--font-family);
    font-size: calc(var(--default-font-size) - .15rem);
    padding: .5rem 1rem;
    font-weight : 600;
}
.primary-btn{
    background-color: var(--clr-btn-primary);
    color: white;
    box-shadow : var(--btn-box-shadow);
    transition: 0.3s;
}
.primary-btn:hover{
    background-color : #2e868b;
}
.primary-btn:active {
    background-color : #1d5457;
}
.secondary-btn{
    background : none;
    color: var(--clr-secondary);
    border : 1px solid var(--clr-secondary);
    transition: ease-out 0.2s;
}
.secondary-btn:hover{
    box-shadow : inset 70px 0 0 0 var(--clr-secondary);
    color : white;
}
.secondary-btn:active {
    box-shadow : inset 70px 0 0 0 #1d5457;
}
.tertiary-btn{
    color : var(--clr-secondary);
    width : 20%;
    font-size : calc(var(--default-font-size) - .2rem);
    padding : .5% 0;
    text-decoration: underline;
    background : none;
}


/* header's CSS */
.header {
    position: fixed;
    top : 0;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color : white;
    z-index : 100;
    width : 100%;
}
.header-image{
    width: 20%;
}
.header-image a{
    text-decoration: none;
    color: black;
}
.header-image img{
    height: 100%;
}
.header-navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navbar-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100%;
}
.header-navbar-lists{
    flex-basis : 88%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-navbar-list{
    font-size: var(--default-font-size);
    padding: 0.5rem;
    font-weight: bold;
}
.header-navbar-list-anim {
    animation : fade-in-anim .7s .2s;
}
.header-navbar-list a{
    color : black;
    text-decoration: none;
    position : relative;
}
.header-navbar-list a:hover{
    color : var(--clr-secondary);
}
.header-navbar-list a::after {
    content : "";
    position : absolute;
    height : 3px;
    width : 0;
    background-color : var(--clr-secondary);
    bottom : -8px;
    left : 0;  
    transition : .3s;
}   
.header-navbar-list a:hover::after {
    width : 100%;
}
.active-page {
    color : var(--clr-secondary);
    filter : brightness(70%);
}
.header-navbar-buttons{
    flex-basis : 18%;
    display: flex;
    align-self : flex-end;
    align-items : center;
    justify-content: flex-end;
    height : 100%;
}
.header-navbar-buttons .btn{
    margin-right : 15px;
}
.header-hamburger-icon {
    display : none;
}



/* footer */
footer{
    background-color : var(--clr-primary);
    min-height : 1.5rem;
    display : flex;
    align-items : center;
    justify-content : center;
}

footer div{
    color : white;
    font-size : var(--footer-font-size);
}

@media screen and (max-width : 700px){
    div, p{
        font-size : var(--mobile-default-font-size);
    }
    h1{
        font-size : var(--mobile-header-1);
    }
    h2{
        font-size : var(--mobile-header-2);
    }
    footer div {
        font-size : var(--footer-font-size);
    }
    body {
        overflow-x : hidden;
    }
    .header {
        width : 100vw;
        position : fixed;
        height : 4rem;
    }
    .header-hamburger-icon {
        display : block;
        margin-right : 20px;
        cursor : pointer;
    }
    .header-navbar-container {
        position : absolute;
        flex-direction : column;
        background-color : white;
        top : 4rem;
        height : 100vh;
        width : 80%;
        transform : translateX(100%);
        transition : all .5s ease-in-out;
        opacity : 0;
    }
    .header-navbar-lists {
        flex-basis : 50%;
        flex-direction : column;
        justify-content : space-around;
    }
    .header-navbar-buttons {
        width : 100%;
        justify-content: center;
    }
    .header-navbar {
        justify-content : flex-end;
        position : relative;
    }
    .header-navbar-list a::after {
        display : none;
    }  

    footer div{
        font-size : 10px;
    }
}

.header-active {
    opacity : 1;
    transform : translateX(0);
}

@keyframes fade-in-anim {
    0% {
        transform : translateY(-100%);
        opacity : 0;
    }
    100% {
        transform : translateY(0);
        opacity : 1;
    }
}

