@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
    Isi global styles :
    1. variables
    2. global attributes
    3. buttons (primary, secondary, tertiary)
    4. header
*/

/* variables */
:root{
    /* font & text */
    --font-family : "Montserrat", sans-serif;
    --default-font-size : 1rem;
    --header-1-font-size : 3rem;
    --header-2-font-size : 2.3rem;
    --header-3-font-size : 1.5rem;
    --line-spacing : 1.6;

    /* color */
    --clr-primary : #2473B5;
    --clr-secondary : #39A7AE;
    --clr-neutral : rgba(36, 115, 181,6%);

    /* buttons */
    --clr-btn-primary : linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
    --btn-radius : .5rem;
    --btn-box-shadow : 0 3px 4px rgba(57, 167, 174, .3);

    /* events */
    --clr-events : linear-gradient(to bottom, #0B2236, #1A4C76, #2473B5);
    --events-box-shadow : 6px 5px 6px rgb(0, 0, 0, 25%);

    /* community */
    --clr-community : linear-gradient(to bottom, #92B9DA, #FFFFFF);
}

/* global attributes */
*,
::before,
::after {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
    font-family : var(--font-family);
    list-style-type: none;
}

/* buttons */
.btn{
    cursor : pointer;
}

.primary-btn{
    background-image: var(--clr-btn-primary);
    color: white;
    box-shadow : var(--btn-box-shadow);
    transition: 0.3s;
}
.primary-btn:hover{
    filter : brightness(70%);
}

.secondary-btn{
    background : none;
    color: var(--clr-secondary);
    border : 1px solid var(--secondary-btn);
    transition: 0.3s;
}
.secondary-btn:hover{
    background-image: var(--clr-btn-primary);
    color: white;
    filter : brightness(70%);
}

.active-page{
    color : var(--clr-secondary);
}



/* header's CSS */

.header-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    position : fixed;
    background-color : white;
    z-index : 1;
    min-width: 675px;
}

/* header-left */
.header-left{
    height: 100%;
    width: 50%;
}
.header-left a{
    text-decoration: none;
    color: black;
}
.header-left a:hover{
    color: var(--clr-primary-2);
}
.header-left img{
    height: 100%;
}

/* header-right */
.header-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right label{
    display: none;
}

.header-list-down-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-list-down-middle{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-list-down-right{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: right;
}

/* cek sekali lagi kegunaan kedua code ini */
/* .list-down-container ul{
    display: flex;
    width: auto;
} */

/* .list-down-container li{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.header-navbar-menu{
    font-size: var(--default-font-size);
    padding: 0.5rem;
    font-weight: bold;
}
.header-navbar-menu a{
    color : black;
    text-decoration: none;
}

.header-navbar-menu a:hover{
    color : var(--clr-secondary);
}

.header-list-down-right button{
    display: flex;
    align-items: center;
    border: none;
    margin: 0 1rem 0 0;
    font-size: calc(var(--default-font-size) - .15rem);
    border-radius: var(--btn-radius);
    padding: .5rem 1rem;
    margin-right: 1rem;
}
