@import "global_styles.css";

a{
    cursor: pointer;
}


/* First Content */
.content-container-1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #F2F7FB;
}

.first-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.first-content-right p{
    line-height : var(--line-spacing);
}

.first-content .first-content-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.first-content .first-content-left img{
    width: 100%;
    max-width: 1000px;
}

.first-content .first-content-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-content .first-content-right h1{
    color : var(--clr-primary);
}

.first-content .first-content-right p{
    margin: 5% 0;
}

.first-content .first-content-right button{
    display: flex;
    justify-content: center;
    max-width: 15rem;
    font-size: var(--default-font-size);
}


/* Second Content */

.content-container-2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: var(--clr-events);

}

.second-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;;
    justify-content: space-evenly;
}

.title{
    color: white;
    font-size: var(--header-2-font-size);
}

.event-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-content .event-container .event{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    align-items: center;
    max-width: max-content;
}

.second-content .event-container .event:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.second-content .event-container .event .poster{
    width: 100%;
}

.second-content .event-container .event .poster-title{
    color: white;
    font-size: var(--default-font-size);
    padding: 1rem 0;
}

.second-content .event-container .event .poster img{
    width: 100%;
}


/* Third Content */

.content-container-3{
    width: 100%;
    height: 55rem;
    background-image: var(--clr-community);
    display: flex;
    justify-content: center;
}

.third-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
}

.third-content .third-content-left{
    width: 50%;
}

.third-content .third-content-left h1{
    font-size: var(--header-1-font-size);
}

.third-content .third-content-left p{
    margin: 5% 0;
    font-size: var(--default-font-size);
}

.third-content .third-content-left button{
    min-width: 15rem;
    height: 2rem;
    border-radius: var(--btn-radius);
}

.third-content .third-content-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-content .third-content-right img{
    width: 90%;
}

.learn-more-btn{
    font-weight : 600;
}


/* Fourth Content */

.content-container-4{
    height: 100vh;
    width: 100vw;
    background-color: #F2F7FB;
    display: flex;
    justify-content: center;
}

.fourth-content{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.fourth-content .fourth-content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.fourth-content .fourth-content-left img{
    width: 100%;
}

.fourth-content .fourth-content-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fourth-content .fourth-content-right .title{
    color: var(--clr-primary);
    font-weight: bold;
    font-size: var(--header-2-font-size);
    margin-bottom: 2%;
}

.fourth-content .fourth-content-right .contact-title-desc p{
    margin: 3% 0;
}

.fourth-content .fourth-content-right form{
    width: 100%;
    border: none;
    padding: 2rem;
    background-color: white;
    border-radius: var(--btn-radius);
    margin-bottom: 3%;
}

.fourth-content .fourth-content-right div{
    font-weight: 500;
    margin-bottom: 1%;
    font-size: var(--default-font-size);
}

.fourth-content .fourth-content-right input{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: var(--btn-radius);
    border: var(--clr-primary) solid 1px;
    margin-bottom: 2%;
}

.field-message{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

#message{
    resize: none;
    border-radius: var(--btn-radius);
    border: var(--clr-primary) solid 1px;
    padding: 0.5rem 1rem;
    font-size: var(--default-font-size);
    margin-bottom: 2%;
}

.fourth-content .fourth-content-right button{
    font-size: var(--default-font-size);
    min-width: 6rem;
    width: 20%;
    display: flex;
    justify-content: center;
}

.fourth-content .fourth-content-right .media-social{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.fourth-content .fourth-content-right .media-social a{
    width: 20px;
    height: 20px;
    border: solid;
}


/* Footer */

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:var(--clr-primary);
    padding: 1%;
    color: white;
    font-size: var(--default-font-size);
}


/* Mobile */
@media (max-width:414px){
    /* first content mobile */

    .content-container-1{
        width: 100%;
    }
    .first-content{
        width: 100%;
        flex-direction: column;
    }

    .first-content .first-content-left{
        height: auto;
        width: 100vw;
        width: 100%;
    }

    .first-content-right{
        justify-content: center;
        align-items: center;
    }

    .first-content-right p{
        display: none;
    }

    .first-content-right button{
        margin: 1rem 0;
    }

    /* Second Content Mobile */
    #event-1{
        width: 80%;
    }

    #event-2{
        display: none;
    }

    #event-3{
        display: none;
    }

    /*  Third Content Mobile */
    .third-content{
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .third-content .third-content-left{
        width:100%;
        text-align: center;
    }

    .third-content .third-content-left h1{
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    .third-content .third-content-left p{
        display: none;
    }

    .third-content .third-content-left button{
        margin: 2rem 0;
    }

    .third-content .third-content-right{
        width: 100%;
    }

    /* Fourth Content Mobile */
    .fourth-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fourth-content .fourth-content-left{
        width: auto;
        height: 50%;

    }

    .fourth-content .fourth-content-right{
        justify-content: flex-start;
    }

    .contact-title-desc{
        display: none;
    }

    .contact-us-form{
        display: none;
    }

}