@import "global_styles.css";
a{
    cursor: pointer;
}

body {
    scroll-behavior: smooth !important;
}


/* First Section */
.first-section{
    width: 100%;
    min-height : 110vh;
    display: flex;
    justify-content: center;
    background-color: #F2F7FB;
}

.first-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height : 110vh;
    width: 90%;
}

.first-content-left{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-content-left img{
    width: 100%;
    /* max-width: 1000px; */
}

.first-content-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-content-right h1{
    color : var(--clr-primary);
    font-size : calc(var(--header-1-font-size) + .66rem);
}

.first-content-right p{
    margin: 5% 0;
}

.first-content-right button{
    display: flex;
    justify-content: center;
    max-width: 15rem;
    font-size : var(--default-font-size);
}


/* Second Section */

.second-section{
    width: 100%;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    background-image: var(--clr-events);
}

.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 95vh;
    justify-content : space-around;
    align-self : center;
}

.title{
    color: white;
}

.event-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.event{
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    align-items: center;
    max-width: max-content;
    overflow: hidden;
    transition: all 1s ease-in-out;

}

.event.show{
    display: flex;
    transition: all 1s ease-in-out;
}

.event:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.poster-image{
    width: 100%;
}

.poster-title{
    color: white;
    font-size: var(--default-font-size);
    padding: 1rem 0;
}

.poster-image img{
    width: 100%;
}

/* .arrow{
    font-size: 3rem;
    width: 5vw;
    height: 10vh;
    border-radius: 100%;
    background-color: rgb(0, 0, 0, 0.25);
    color: white;
    border: none;
}

.arrow:hover{
    color: black;
    background-color: rgb(255, 255, 255, .25);
} */
.events-icon{
    font-size : 1.7rem;
    color : white;
    cursor : pointer;
    transition : .3s;
}

.events-icon:hover{
    transform : scale(1.2);
}

#prev-slide{
    position: absolute;
    top: 50%;
    left: 0%;
}

#next-slide{
    position: absolute;
    top: 50%;
    right: 0%;
}



/* Third Section */

.third-section{
    width: 100%;
    min-height: 120vh;
    background-image: var(--clr-community);
    display: flex;
    justify-content: center;
}

.third-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height : 120vh;
}

.third-content-left{
    width: 50%;
}

.third-content-left h1{
    color : var(--clr-primary);
}

.third-content-left p{
    margin: 5% 0;
}

.third-content-left button{
    min-width: 15rem;
    height: 2rem;
    border-radius: var(--btn-radius);
}

.third-content-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-content-right img{
    width: 90%;
}

.learn-more-btn{
    font-weight : 600;
}


/* Fourth Content */

.fourth-section{
    min-height: 100vh;
    width: 100%;
    background-color: #F2F7FB;
    display: flex;
    justify-content: center;
    align-items : center;
}

.fourth-container{
    width: 90%;
    min-height : 90vh;
    display: flex;
    align-items: center;
}

.fourth-content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.fourth-content-left img{
    width: 100%;
}

.fourth-content-right{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.fourth-content-right h2{
    color: var(--clr-primary);
    font-weight: bold;
}

.contact-title-desc {
    margin-bottom : 1.2rem;
}

.contact-title-desc{
    display : flex;
    flex-direction : column;
}

.form-container {
    border-radius : .2rem;
    background-color : white;
}

.contact-us-form{
    width : 85%;
    min-height : 22rem;
    display : flex;
    flex-direction : column;
    justify-content : space-around;
    margin : 1rem 2rem;
}

.field {
    font-weight : 500;
}

.field input, .field textarea {
    width : 100%;
    min-height : 2rem;
    border-radius : .2rem;
    padding : .5rem;
    outline : none;
    border : 1px solid black;
    font-size : calc(var(--default-font-size) - .15rem);
}

.field input:focus,
.field textarea:focus {
    border : 1px solid var(--clr-primary);
}

.fourth-content .fourth-content-right button{
    /* min-width: 6rem; */
    width: 20%;
    display: flex;
    justify-content: center;
}

/* .fourth-content .fourth-content-right form{
    width: 100%;
    border: none;
    padding: 2rem;
    background-color: white;
    border-radius: var(--btn-radius);
    margin-bottom: 3%;
}

.fourth-content .fourth-content-right div{
    font-weight: 500;
    margin-bottom: 1%;
    font-size: var(--default-font-size);
}

.fourth-content .fourth-content-right input{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: var(--btn-radius);
    border: var(--clr-primary) solid 1px;
    margin-bottom: 2%;
}

.field-message{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

#message{
    resize: none;
    border-radius: var(--btn-radius);
    border: var(--clr-primary) solid 1px;
    padding: 0.5rem 1rem;
    font-size: var(--default-font-size);
    margin-bottom: 2%;
}

.fourth-content .fourth-content-right button{
    font-size: var(--default-font-size);
    min-width: 6rem;
    width: 20%;
    display: flex;
    justify-content: center;
} */

.media-social-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top : 1.2rem;
}

.sosmed-container {
    display : flex;
    width : 16%;
    justify-content : space-around;
}

.sosmed-logo{
    width : 80%;
}

.instagram-logo{
    width : 100%;
}

.sosmed-container div{
    width : 2.5rem;
    height : 2.5rem;
    background-color : white;
    border-radius : 50%;
    padding : .5rem;
    border : 1px solid var(--clr-primary);
    display : flex;
    align-items : center;
    justify-content : center;
    cursor : pointer;
}


/* Mobile */
@media screen and (max-width:700px){
    /* first content mobile */

    .content-container-1{
        width: 100%;
    }
    .first-content{
        width: 100%;
        flex-direction: column;
    }

    .first-content .first-content-left{
        height: auto;
        width: 100vw;
        width: 100%;
    }

    .first-content-right{
        justify-content: center;
        align-items: center;
    }

    .first-content-right p{
        display: none;
    }

    .first-content-right button{
        margin: 1rem 0;
    }

    /* Second Content Mobile */
    #event-1{
        width: 80%;
    }

    #event-2{
        display: none;
    }

    #event-3{
        display: none;
    }

    /*  Third Content Mobile */
    .third-content{
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .third-content .third-content-left{
        width:100%;
        text-align: center;
    }

    .third-content .third-content-left h1{
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    .third-content .third-content-left p{
        display: none;
    }

    .third-content .third-content-left button{
        margin: 2rem 0;
    }

    .third-content .third-content-right{
        width: 100%;
    }

    /* Fourth Content Mobile */
    .fourth-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fourth-content .fourth-content-left{
        width: auto;
        height: 50%;

    }

    .fourth-content .fourth-content-right{
        justify-content: flex-start;
    }

    .contact-title-desc{
        display: none;
    }

    .contact-us-form{
        display: none;
    }

}