@import "/global_styles.css";

main {
    min-height : calc(100vh - 4rem);
    width : 100%;
    background-color : #0B2236;
    display : flex;
    align-items : center;
    justify-content : center;
}

.main-section{
    min-height : calc(100vh - 4rem - 2rem);
    width : 90%;
    display : flex;
    align-items : center;
    justify-content : center;
}

.main-container{
    display : grid;
    grid-template-columns : 1fr 2fr;
    grid-template-rows : repeat(4, minmax(1fr, 10rem));
    align-items : center;
    height : calc(100vh - 4rem - 2rem);
    width : 100%;
    margin-bottom : 10px;
}

.image-container{
    width : 85%;    
    grid-row : 1 / span 4;
}

.img{
    width : 100%;
    box-shadow : -5px 5px 4px rgb(0,0,0,40%);
    transition : .5s;
}

.img:hover{
    transform : translate(4px, -4px);
    box-shadow : -9px 9px 4px rgb(0,0,0,40%);
}

.title-container,
.desc-container,
.datetime-container
{
    color : white;
}

.subtitle{
    color : var(--clr-primary);
    font-weight : 700;
}

.desc-container{
    text-align : justify;
}

.datetime{
    display : flex;
    width : 50%;
}

.datetime span:first-child{
    flex-basis : 20%;
    font-weight : 600;
}

.datetime span:nth-child(2){
    flex-basis : 5%;
}

.datetime span:last-child{
    flex-basis : 75%;
    flex-grow : 1;
}

.button-container{
    justify-self : end;
}

@media screen and (max-width : 850px){
    .main-section {
        min-height : 62rem;
    }

    .main-container{
        min-height : 62rem;
        grid-template-columns : 1fr;
    }

    .image-container{
        width : 70%;
        justify-self : center;
    }

    .title-container{
        justify-self : center;
        display : flex;
        flex-direction : column;
        align-items : center;
    }

    .image-container{
        margin-bottom : 15px;
    }

    .datetime{
        width : 100%;
    }
}

@media screen and (max-width : 415px){
    .main-section {
        min-height : 53rem;
    }

    .main-container{
        min-height : 53rem;
    }

    .image-container{
        margin-bottom : 0;
    }
}