@import "/global_styles.css";

/* banner */
.banner{
    width : 100%;
    min-height : 28rem;
    background-image : url("/images/itclub2.jpg");
    background-size : cover;
    background-position : center;
    position : relative;
}

.banner::before{
    content : "";
    background-color : rgba(36, 115, 181, .5);
    min-height : 28rem;
    display : block;
    width : 100%;
}

.banner-caption {
    color : white;
    text-align : center;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
}

.banner-caption h1{
    font-size : var(--header-1-font-size);
    margin-bottom : 5%;
}

.banner-caption div{
    line-height : var(--line-spacing);
    font-size : var(--default-font-size);
}



/* main */

main{
    width : 100%;
    height : 100%;
    background-color : var(--clr-neutral);
}

.main-container{
    width : 90%;
    min-height : 65rem;
    margin : 0 auto;
    padding : 3% 0;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
}
.first-main-container,
.second-main-container
{
    display : flex;
}


.img{
    width : 38%;
}

.img-2, .img-3{
    width : 80%;
}

.image-container{
    display : grid;
    grid-template-columns : repeat(3, 1fr);
    grid-template-rows : repeat(2, 1fr);
}

.img-2{
    grid-column : 1 / span 2;
    grid-row : 1 / span 2;
}

.img-3{
    grid-column : 2 / span 2;
    grid-row : 2 / span 2;
}


.what-is-it-club{
    margin-right : 10%;
}

.what-is-it-club,
.what-is-our-goal
{
    align-self : center;
}

.what-is-our-goal{
    text-align : right;
}

.what-is-it-club div,
.what-is-our-goal div
{
    margin-top : 2%;
    line-height : var(--line-spacing);
    font-size : var(--default-font-size);
}

.what-is-it-club h2,
.what-is-our-goal h2{
    font-size : var(--header-2-font-size);
    color : var(--clr-primary);
}



.img{
    transition : .5s;
}

.img-1{
    box-shadow : -4px 4px 8px var(--clr-primary);
}
.img-1:hover{
    transform : translate(4px, -4px);
    box-shadow : -8px 8px 10px var(--clr-primary);
}

.img-2{
    box-shadow : -2px 2px 6px var(--clr-primary);
}
.img-2:hover{
    transform : translate(4px, -4px);
    box-shadow : -6px 6px 8px var(--clr-primary);
}

.img-3{
    box-shadow : 2px 2px 4px var(--clr-secondary);
    z-index : 1;
}
.img-3:hover{
    transform : translate(-4px, -4px);
    box-shadow : 6px 6px 8px var(--clr-secondary);
}


.vision-mission-container{
    background-image : radial-gradient(circle at top, var(--clr-secondary) 40%, var(--clr-primary));
    color : white;
    min-height : 17rem;
    display : flex;
    align-items : center;
}

.vision-mission{
    width : 90%;
    height : 100%;
    margin : 0 auto;
    display : flex;
    font-size : var(--default-font-size);
}

.mission, .vision{
    text-align : center;
    align-self : center;
    line-height : var(--line-spacing);
}

.mission h3,
.vision h3{
    margin-bottom : 3%;
}

.mission{
    margin-right : 10%;
}

.partners-container{
    min-height : 25rem;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}

.partners-container h2{
    font-size : var(--header-2-font-size);
    color : var(--clr-primary);
    margin-bottom : 3%;
}

.partners-logo-container{
    width : 90%;
    margin : 0 auto;
    display : flex;
    align-items : center;
    justify-content : space-around;
}

.partners-logo{
    width : 20%;
}

footer{
    background-color : var(--clr-primary);
    min-height : 1.5rem;
    display : flex;
    align-items : center;
    justify-content : center;
}

footer div{
    color : white;
    font-size : calc(var(--default-font-size) - .1rem);
}


/* mobile */
@media screen and (max-width: 600px){
    /* banner */
    .banner{
        background-size : cover;
        background-position : right;
    } 
    .banner-caption div {
        font-size : .8rem;
    }

    .what-is-it-club{
        margin : 0;
    }


    /* main */
    .main-container {
        /* width : 90%; */
        min-height : 65rem;
        justify-content : space-between;
        padding : 10% 0;
    }

    .first-main-container {
        flex-direction : column;
        flex-grow : 1;
    }
    .img-1{
        align-self : center;
        margin-top : 5%;
        width : 60%;
    }

    .what-is-it-club h2{
        text-align : center;
    }
    .what-is-it-club div,
    .what-is-our-goal div
    {
        text-align : justify;
    }

    .second-main-container{
        flex-direction: column;
        flex-grow : 1;
        justify-content : space-around;
    }

    .what-is-our-goal{
        text-align : center;
    }

    .image-container{
        order : 1;
        width : 90%;
        margin : 0 auto;
    }

    .img-2{
        width : 100%;
    }

    .img-3{
        width : 100%;
    }

    .partners-container{
        min-height : 18rem;
    }

    footer div{
        font-size : .6rem;
    }

}

@media screen and (max-width : 415px){
    .main-container{
        min-height : 60rem;
    }
    .vision-mission {
        flex-direction : column;
        min-height : 25rem;
        justify-content : space-around;
    }
    .mission{
        margin : 0;
    }
    
    footer div{
        font-size : .45rem;
    }
}