@import "/global_styles.css";

.outer-container{
    background : url(/images/itclub1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height : 100vh;
    width : 100vw;
    position : relative;
}

.outer-container::before{
    content : "";
    background-color : rgba(36, 115, 181, .5);
    display : block;
    min-height : 100vh;
    width : 100vw;
}

.inner-container{
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    min-width : 30rem;
    min-height : 30rem;
    background-color : white;
    border-radius : .3rem;
    box-shadow : var(--events-box-shadow);
    display : flex;
}

.contents{
    width : 85%;
    margin : auto;
    min-height : 25rem;
    display : flex;
    flex-direction : column;
    justify-content : space-around;
}

.field {
    font-weight : 500;
}

.field input {
    width : 100%;
    min-height : 2rem;
    border-radius : .2rem;
    padding : .5rem;
    outline : none;
    border : 1px solid black;
    font-size : calc(var(--default-font-size) - .15rem);
}

.field input:focus {
    border : 1px solid var(--clr-primary);
}

.title{
    align-self: center;
}

.next-btn{
    width : 20%;
    align-self: flex-end;
}

#registerForm{
    display: flex;
    
}

#page1{
    display: flex;
}

#page2{
    display: flex;
}

@media screen and (max-width: 415px){
    .inner-container{
        min-width : 22rem;
        top : 15%;
        left : 7%;
        transform : translate(0);
    }

    .next-btn{
        width : 25%;
    }
}