@import "register.css";

input[type="checkbox"]{
    width : 15px;
    height : 15px;
    margin : .2rem;
}

.field-show-pass{
    display : flex;
    align-items : center;
}

.field-show-pass span{
    font-size : calc(var(--default-font-size) - .2rem);
}

.register-btn {
    width : 90%;
    margin : 0 auto;
}

.previous-btn{
    width : 20%;
    margin : .5rem auto;
}