@import "/styles.css";

*{
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
}

.header-nav .left{
    height: 100%;
}

.header-nav img{
    height: 100%;
}

ul{
    display: flex;
    width: auto;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.navbar-menu{
    font-size: var(--default-font-size);
    padding: 0.5rem;
    font-weight: bold;
}

button{
    display: flex;
    align-items: center;
    height: 40%;
    width: 100%;
    border: none;
    margin: 0 1rem 0 0;
    font-size: calc(var(--default-font-size) - .15rem);
    border-radius: var(--btn-radius);
    padding: .5rem 1rem;
}

.register{
    background-image: var(--clr-btn-primary);
    color: white;
}

.login{
    background-color: white;
    color: var(--clr-primary-1);
    border-color: var(--clr-primary-1);
    border: solid 1px;
}

.actived{
    color: var(--clr-primary-1);
}