@import "/styles.css";

*{
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: var(--clr-primary-2);
}


button:hover{
    cursor: pointer;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    position : fixed;
    background-color : white;
    z-index : 1;
    min-width: 675px;
}

.header-nav .left{
    height: 100%;
    width: 50%;
}

.header-nav img{
    height: 100%;
}

.header-nav .second-part{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#check{
    display: none;
}

label{
    display: none;
}

.header-nav .second-part .list-down-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav .second-part .middle{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav .second-part .right{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: right;
}

ul{
    display: flex;
    width: auto;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu{
    font-size: var(--default-font-size);
    padding: 0.5rem;
    font-weight: bold;
}

button{
    display: flex;
    align-items: center;
    border: none;
    margin: 0 1rem 0 0;
    font-size: calc(var(--default-font-size) - .15rem);
    border-radius: var(--btn-radius);
    padding: .5rem 1rem;
}

.primary-btn{
    background-image: var(--clr-btn-primary);
    color: white;
    box-shadow : var(--btn-box-shadow);
    transition: 0.3s;
    /* background-blend-mode : lighten; */
}

.primary-btn:hover{
    /* transform: scale(1.2); */
    filter : brightness(70%);
}

.secondary-btn{
    background-color: white;
    color: var(--clr-primary-2);
    border-color: var(--clr-primary-2);
    border: solid 1px;
    transition: 0.3s;
}

.secondary-btn:hover{
    /* transform: scale(1.2); */
    background-image: var(--clr-btn-primary);
    color: white;
    filter : brightness(70%);
}

.actived{
    color: var(--clr-primary-2);
}


/* Layar Mobile */
@media (max-width: 414px) {
    .header-nav{
        justify-content: center;
        align-items: center;
    }
    
    .second-part{
        display: flex;
        flex-direction: column;
        z-index: 999;
    }

    .header-nav .second-part .list-down-container{
        display: flex;
        justify-content: space-between;
        position:fixed;
        position: fixed;
        width: 60vw;
        z-index: 999;
        flex-direction: column;
        top: 5rem;
        right: 0;
        bottom:58vh;
        transform:translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .header-nav .second-part .middle{
        flex-direction: column;
        justify-content: left;
        align-items: left;
        display: flex;
        
    }

    .header-nav .second-part .middle li{
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: left;
    }

    .header-nav .second-part .right{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .header-nav .second-part .right li button{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 0.5rem;
    }

    label{
        display: flex;
        position: fixed;
        top: 2rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        border: solid red;
    }
}